.text-box{
    margin-top: 130px;
    max-width: 600px;

    h1{
        font-size: 7rem;
        margin-bottom: 1.4rem;
        color: $blue;
        font-weight: bolder;
    }
    p{
        font-size: 2rem;
        color: rgb(109, 109, 109);
    }
    a{
        display: inline-block;
        color: #fff;
        background: $blue;
        padding: .8rem 2rem;
        font-size: 1.7rem;
        margin-top: 3rem;
        border-radius: .5rem;
    }
}